USE [master]
GO
/****** Object:  Database [DBernalExamenSQLClient]    Script Date: 12/9/2022 3:57:02 PM ******/
CREATE DATABASE [DBernalExamenSQLClient]
 CONTAINMENT = NONE
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBernalExamenSQLClient].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBernalExamenSQLClient]
GO
/****** Object:  StoredProcedure [dbo].[LibroAdd]    Script Date: 12/9/2022 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LibroAdd]
	--IdLibro INT IDENTITY(1,1),
	@Nombre VARCHAR(50),
	@IdAutor INT,
	@NumeroPaginas INT,
	@FechaPublicacion DATE,
	@IdEditorial INT,
	@Edicion VARCHAR(50),
	@IdGenero INT
AS
BEGIN
	INSERT INTO [dbo].[Libro]
           ([Nombre]
           ,[IdAutor]
           ,[NumeroPaginas]
           ,[FechaPublicacion]
           ,[IdEditorial]
           ,[Edicion]
           ,[IdGenero])
     VALUES
           (@Nombre, 
           @IdAutor, 
           @NumeroPaginas, 
           CONVERT(DATE, @FechaPublicacion, 103),
           @IdEditorial,
           @Edicion, 
           @IdGenero)
END

GO
/****** Object:  StoredProcedure [dbo].[LibroDelete]    Script Date: 12/9/2022 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LibroDelete]
	@IdLibro INT
AS
BEGIN
	
		DELETE FROM [dbo].[Libro]
		WHERE IdLibro = @IdLibro
END
GO
/****** Object:  StoredProcedure [dbo].[LibroGet]    Script Date: 12/9/2022 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LibroGet] 
	@IdLibro INT = NULL
AS
BEGIN
	SELECT [IdLibro]
      ,L.[Nombre]
      ,L.[IdAutor]
      ,L.[NumeroPaginas]
      ,L.[FechaPublicacion]
      ,L.[IdEditorial]
      ,L.[Edicion]
      ,L.[IdGenero]

	  ,A.Nombre

	  ,E.Nombre

	  ,G.Nombre

  FROM [dbo].[Libro] AS L
  INNER JOIN Autor AS A ON L.IdAutor = A.IdAutor
  INNER JOIN Editorial AS E ON L.IdEditorial = E.IdEditorial
  INNER JOIN Genero AS G ON L.[IdGenero] = G.IdGenero
  WHERE @IdLibro IS NULL OR L.IdLibro = @IdLibro


END

GO
/****** Object:  StoredProcedure [dbo].[LibroUpdate]    Script Date: 12/9/2022 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LibroUpdate]
	@IdLibro INT,
	@Nombre VARCHAR(50),
	@IdAutor INT,
	@NumeroPaginas INT,
	@FechaPublicacion DATE,
	@IdEditorial INT,
	@Edicion VARCHAR(50),
	@IdGenero INT
AS
BEGIN
	UPDATE [dbo].[Libro]
	SET [Nombre] = @Nombre
		,[IdAutor] = @IdAutor
		,[NumeroPaginas] = @NumeroPaginas
		,[FechaPublicacion] = CONVERT(DATE, @FechaPublicacion, 103)
		,[IdEditorial] = @IdEditorial
		,[Edicion] = @Edicion
		,[IdGenero] = @IdGenero
	WHERE IdLibro = @IdLibro
END

GO
/****** Object:  Table [dbo].[Autor]    Script Date: 12/9/2022 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Autor] PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 12/9/2022 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Editorial](
	[IdEditorial] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Editorial] PRIMARY KEY CLUSTERED 
(
	[IdEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 12/9/2022 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Genero](
	[IdGenero] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Genero] PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 12/9/2022 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libro](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[IdAutor] [int] NULL,
	[NumeroPaginas] [int] NULL,
	[FechaPublicacion] [date] NULL,
	[IdEditorial] [int] NULL,
	[Edicion] [varchar](50) NULL,
	[IdGenero] [int] NULL,
 CONSTRAINT [PK_Libro] PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([IdAutor], [Nombre]) VALUES (1, N'Tony Robbins')
INSERT [dbo].[Autor] ([IdAutor], [Nombre]) VALUES (2, N'Dale Carnegie')
INSERT [dbo].[Autor] ([IdAutor], [Nombre]) VALUES (3, N'Tim Ferriss')
SET IDENTITY_INSERT [dbo].[Autor] OFF
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (1, N'Salamandra')
INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (2, N'Libro feliz')
INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (3, N'Panini')
SET IDENTITY_INSERT [dbo].[Editorial] OFF
SET IDENTITY_INSERT [dbo].[Genero] ON 

INSERT [dbo].[Genero] ([IdGenero], [Nombre]) VALUES (1, N'Terror')
INSERT [dbo].[Genero] ([IdGenero], [Nombre]) VALUES (2, N'Aventura')
INSERT [dbo].[Genero] ([IdGenero], [Nombre]) VALUES (3, N'Novela Romantica')
SET IDENTITY_INSERT [dbo].[Genero] OFF
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([IdLibro], [Nombre], [IdAutor], [NumeroPaginas], [FechaPublicacion], [IdEditorial], [Edicion], [IdGenero]) VALUES (1, N'Poder sin límites, ', 1, 200, CAST(0x9D180B00 AS Date), 4, N'Deluxe Edition', 4)
INSERT [dbo].[Libro] ([IdLibro], [Nombre], [IdAutor], [NumeroPaginas], [FechaPublicacion], [IdEditorial], [Edicion], [IdGenero]) VALUES (2, N'Inteligencia emocional', 5, 300, CAST(0x590A0B00 AS Date), 1, N'Deluxe Edition', 4)
INSERT [dbo].[Libro] ([IdLibro], [Nombre], [IdAutor], [NumeroPaginas], [FechaPublicacion], [IdEditorial], [Edicion], [IdGenero]) VALUES (4, N'Habitos Atomicos', 3, 180, CAST(0x44240B00 AS Date), 2, N'American Version', 4)
SET IDENTITY_INSERT [dbo].[Libro] OFF
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Autor] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Autor]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Editorial] FOREIGN KEY([IdEditorial])
REFERENCES [dbo].[Editorial] ([IdEditorial])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Editorial]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Genero] FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Genero] ([IdGenero])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Genero]
GO
USE [master]
GO
